:root {
    --grayish-green: #CCD5AE;
    --ligth-grayishgreen: #E9EDC9;
    --almost-white: #FEFAE0;
    --light-beige: #FAEDCD;
    --off-red: #9e2a2b;
    --beige: #D4A373;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

body {
    background-color: var(--beige);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: var(--almost-white);
}


/* utilities */

.box.d-none {
    display: none;
}

/* #region main */

#site_main {
    padding: 4rem 2rem;
}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 60%;
    margin: 1rem auto;
    padding: 1rem 0;
    border-radius: 1rem;
}

.box >* {
    margin: 1rem 0;
}

.box.verified i {
    color: var(--ligth-grayishgreen);
}

.box.error i {
    color: var(--off-red);
}

.account {
    width: 100%;
    color: var(--almost-white);
    text-align: center;
}

.account > span {
    margin: 0 1rem;
    color: var(--ligth-grayishgreen);
}

.btn-error {
    width: 100%;
    display: flex;
    justify-content: center;
}


.btn-error a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--off-red);
    background-color: var(--almost-white);
}

.btn-error a:hover {
    background-color: var(--light-beige);
    
}

.game {
    color: var(--beige);
    background-color: var(--light-beige);
   
}

.game .score {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.game .score > span {
    margin-right: 1rem;
}


.game .image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    

}

.game .image img {
    max-width: 50%;
}

.game button {
    color: var(--almost-white);
    background-color: var(--beige);
    border: 2px solid transparent;
    margin-top: 5rem;
}

.game button:hover {
    background-color: var(--almost-white);
    color: var(--beige);
    cursor: pointer;
    border: 2px solid var(--beige);
}


.btn-error a, button {
    padding: 1rem;
    width: 30%;
    border-radius: 1rem;
    transition: all 0.2s ease;
}

/* #endregion */